.account{
    width: 100vw;
    height: 100vh;
    background-color:cadetblue;
    .form-wrap{
        width: 300px;
        margin: auto;
        padding-top: 350px;
        color: blanchedalmond;
    }
}